[submodule "configs/vim/bundle/fugitive"]
	path = configs/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "configs/vim/bundle/nerdtree"]
	path = configs/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "configs/vim/bundle/syntastic"]
	path = configs/vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "configs/vim/bundle/tabular"]
	path = configs/vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
